<%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, placeholder: "Write some text here for Restaurant \"#{@restaurant.name}\""%>
    <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
    <%= f.submit%>
<% end %>
<p>
<p><%= link_to "Back to Restaurant", restaurant_path(@restaurant) %></p>
